/Carro/nbproject/private/
/Carro/build/
/Ingresso/nbproject/private/
/Pessoa/nbproject/private/
/Tv/build/
/Nova pasta/Animal/nbproject/private/
/Nova pasta/Animal2/nbproject/private/
/Nova pasta/Pessoa2/nbproject/private/
/Nova pasta/exemplo/nbproject/private/
/exemplo/build/
/Ingresso/build/
/Imovel/nbproject/private/
